In [22]:
import pandas as pd
from datetime import  date, datetime

In [3]:
dict = {"Nome":["Joao", "Maria", "Rita"], "nota":[20,10,14]}

df = pd.DataFrame(dict, index= ["v1", "V2", "V2"])

df

     Nome  nota
v1   Joao    20
V2  Maria    10
V2   Rita    14

In [6]:
nova_nota = {"Nome":["Rui", "Pedro"], "nota":[20,20], "nota2":[20,20]}

df2 = pd.DataFrame(nova_nota)

df2

    Nome  nota  nota2
0    Rui    20     20
1  Pedro    20     20

In [9]:
nova_df = pd.concat([df, df2], ignore_index=True)

nova_df

    Nome  nota  nota2
0   Joao    20    NaN
1  Maria    10    NaN
2   Rita    14    NaN
3    Rui    20   20.0
4  Pedro    20   20.0

In [12]:
nova_df2 = pd.concat([df, df2]).reset_index()
nova_df2.fillna("0", inplace= True)

nova_df2

  index   Nome  nota nota2
0    v1   Joao    20     0
1    V2  Maria    10     0
2    V2   Rita    14     0
3     0    Rui    20  20.0
4     1  Pedro    20  20.0

In [13]:
colDf = pd.DataFrame({"Data": ["Data1","Data1","Data1","Data1","Data1"]})

colDf

    Data
0  Data1
1  Data1
2  Data1
3  Data1
4  Data1

In [24]:
#nova_df2["Data"] = ["Data1","Data1","Data1","Data1","Data1"]
nova_df2["Data"] = date.today()
nova_df2

  index   Nome  nota nota2        Data
0    v1   Joao    20     0  2023-11-06
1    V2  Maria    10     0  2023-11-06
2    V2   Rita    14     0  2023-11-06
3     0    Rui    20  20.0  2023-11-06
4     1  Pedro    20  20.0  2023-11-06

In [25]:
out = pd.melt(nova_df2)
out

   variable       value
0     index          v1
1     index          V2
2     index          V2
3     index           0
4     index           1
5      Nome        Joao
6      Nome       Maria
7      Nome        Rita
8      Nome         Rui
9      Nome       Pedro
10     nota          20
11     nota          10
12     nota          14
13     nota          20
14     nota          20
15    nota2           0
16    nota2           0
17    nota2           0
18    nota2        20.0
19    nota2        20.0
20     Data  2023-11-06
21     Data  2023-11-06
22     Data  2023-11-06
23     Data  2023-11-06
24     Data  2023-11-06

In [26]:
s = nova_df2.sort_values("nota")
s

  index   Nome  nota nota2        Data
1    V2  Maria    10     0  2023-11-06
2    V2   Rita    14     0  2023-11-06
0    v1   Joao    20     0  2023-11-06
3     0    Rui    20  20.0  2023-11-06
4     1  Pedro    20  20.0  2023-11-06

In [28]:
s = nova_df2.sort_values("nota", ascending=False)
s

  index   Nome  nota nota2        Data
0    v1   Joao    20     0  2023-11-06
3     0    Rui    20  20.0  2023-11-06
4     1  Pedro    20  20.0  2023-11-06
2    V2   Rita    14     0  2023-11-06
1    V2  Maria    10     0  2023-11-06

In [29]:
temp = {'col1':[1,2,3], 'co12':[4,5,6], 'co13':[7,8,9]}

df2 = pd.DataFrame.from_dict(temp)
df2

   col1  co12  co13
0     1     4     7
1     2     5     8
2     3     6     9