In [1]:
import pandas as pd

In [3]:
df = pd.DataFrame([[1,2,3], 
                   [10, 20, 30],
                   [1,2,3], 
                   [10, 20, 30],
                   [1,2,3], 
                   [10, 20, 30]])

df

    0   1   2
0   1   2   3
1  10  20  30
2   1   2   3
3  10  20  30
4   1   2   3
5  10  20  30

In [4]:
df = pd.DataFrame([[1,2,3],
                   [10, 20, 30,40,50,60]])
df

    0   1   2     3     4     5
0   1   2   3   NaN   NaN   NaN
1  10  20  30  40.0  50.0  60.0

In [5]:
df.columns = ["Col1", "Col2", "Col3", "Col4", "Col6", "Col7"]

df

   Col1  Col2  Col3  Col4  Col6  Col7
0     1     2     3   NaN   NaN   NaN
1    10    20    30  40.0  50.0  60.0

In [6]:
df.index = ["Linha1", "Linha2"]
df

        Col1  Col2  Col3  Col4  Col6  Col7
Linha1     1     2     3   NaN   NaN   NaN
Linha2    10    20    30  40.0  50.0  60.0

In [7]:
df.index = ["Linha1", 4]
df

        Col1  Col2  Col3  Col4  Col6  Col7
Linha1     1     2     3   NaN   NaN   NaN
4         10    20    30  40.0  50.0  60.0

In [21]:
dict = {"Nome":["Joao", "Maria", "Rita", "Joana"], "notas":[20,10,14, 20]}

df2 = pd.DataFrame(dict)

df2

    Nome  notas
0   Joao     20
1  Maria     10
2   Rita     14
3  Joana     20

In [14]:
my_data = [[1, 2, 3], 
           [4, 5, 6], 
           [7, 8, 9]]

df3 = pd.DataFrame(my_data, 
                   index=["l1", "l2", "l3"],
                   columns=["col_a", "col_b", "col_c"])

df3

    col_a  col_b  col_c
l1      1      2      3
l2      4      5      6
l3      7      8      9

In [16]:
df4 = pd.DataFrame(
    {"Aluno_a" : [4 ,5, 6],
     "Aluno_B" : [7, 8, 9],
     "Aluno_c" : [10, 11, 12]},
    index = pd.MultiIndex.from_tuples(
        [('Programação', 2000),
         ('Programação', 2001), 
         ('Matematica', 2000)], 
        names=['Cadeira', 'Ano']))

df4

                  Aluno_a  Aluno_B  Aluno_c
Cadeira     Ano
Programação 2000        4        7       10
            2001        5        8       11
Matematica  2000        6        9       12

In [17]:
df4.info()

<class 'pandas.core.frame.DataFrame'>
MultiIndex: 3 entries, ('Programação', 2000) to ('Matematica', 2000)
Data columns (total 3 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   Aluno_a  3 non-null      int64
 1   Aluno_B  3 non-null      int64
 2   Aluno_c  3 non-null      int64
dtypes: int64(3)
memory usage: 434.0+ bytes

In [18]:
df4.shape

(3, 3)

In [24]:
nova_nota = ["Rui", 10]

df2.loc[len(df2)] = nova_nota

df2

    Nome  notas
0   Joao     20
1  Maria     10
2   Rita     14
3  Joana     20
4    Rui     10
5    Rui     10

In [27]:
df2.query("notas >= 14")

    Nome  notas
0   Joao     20
2   Rita     14
3  Joana     20