In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("UID_ISO_FIPS_LookUp_Table.csv")

df

,UID,iso2,iso3,code3,FIPS,Admin2,Province_State,Country_Region,Lat,Long_,Combined_Key,Population
0,4,AF,AFG,4.0,NaN,NaN,NaN,Afghanistan,33.939110,67.709953,Afghanistan,38928341.0
1,8,AL,ALB,8.0,NaN,NaN,NaN,Albania,41.153300,20.168300,Albania,2877800.0
2,10,AQ,ATA,10.0,NaN,NaN,NaN,Antarctica,-71.949900,23.347000,Antarctica,NaN
3,12,DZ,DZA,12.0,NaN,NaN,NaN,Algeria,28.033900,1.659600,Algeria,43851043.0
4,20,AD,AND,20.0,NaN,NaN,NaN,Andorra,42.506300,1.521800,Andorra,77265.0
...,...,...,...,...,...,...,...,...,...,...,...,...
4316,84056037,US,USA,840.0,56037.0,Sweetwater,Wyoming,US,41.659439,-108.882788,"Sweetwater, Wyoming, US",42343.0
4317,84056039,US,USA,840.0,56039.0,Teton,Wyoming,US,43.935225,-110.589080,"Teton, Wyoming, US",23464.0
4318,84056041,US,USA,840.0,56041.0,Uinta,Wyoming,US,41.287818,-110.547578,"Uinta, Wyoming, US",20226.0
4319,84056043,US,USA,840.0,56043.0,Washakie,Wyoming,US,43.904516,-107.680187,"Washakie, Wyoming, US",7805.0
4320,84056045,US,USA,840.0,56045.0,Weston,Wyoming,US,43.839612,-104.567488,"Weston, Wyoming, US",6927.0

In [4]:
df.isna().sum()

UID                 0
iso2                5
iso3                4
code3               4
FIPS              937
Admin2            978
Province_State    202
Country_Region      0
Lat               148
Long_             148
Combined_Key        0
Population        151
dtype: int64

In [5]:
df.isna().sum().sum()

2577

In [6]:
resp = df.query("Lat.isnull()")

resp

,UID,iso2,iso3,code3,FIPS,Admin2,Province_State,Country_Region,Lat,Long_,Combined_Key,Population
26,5610,BE,BEL,56.0,NaN,NaN,Unknown,Belgium,NaN,NaN,"Unknown, Belgium",NaN
63,7628,BR,BRA,76.0,NaN,NaN,Unknown,Brazil,NaN,NaN,"Unknown, Brazil",NaN
91,15217,CL,CHL,152.0,NaN,NaN,Unknown,Chile,NaN,NaN,"Unknown, Chile",NaN
126,17034,CO,COL,170.0,NaN,NaN,Unknown,Colombia,NaN,NaN,"Unknown, Colombia",NaN
139,9999,NaN,NaN,NaN,NaN,NaN,NaN,Diamond Princess,NaN,NaN,Diamond Princess,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...
1172,84090051,US,USA,840.0,90051.0,Unassigned,Virginia,US,NaN,NaN,"Unassigned, Virginia, US",NaN
1173,84090053,US,USA,840.0,90053.0,Unassigned,Washington,US,NaN,NaN,"Unassigned, Washington, US",NaN
1174,84090054,US,USA,840.0,90054.0,Unassigned,West Virginia,US,NaN,NaN,"Unassigned, West Virginia, US",NaN
1175,84090055,US,USA,840.0,90055.0,Unassigned,Wisconsin,US,NaN,NaN,"Unassigned, Wisconsin, US",NaN
1176,84090056,US,USA,840.0,90056.0,Unassigned,Wyoming,US,NaN,NaN,"Unassigned, Wyoming, US",NaN

In [10]:
df.isna().sum()

UID                 0
iso2                5
iso3                4
code3               4
FIPS              937
Admin2            978
Province_State    202
Country_Region      0
Lat               148
Long_             148
Combined_Key        0
Population        151
dtype: int64

In [13]:
resp2 = resp["iso3"]
resp2

26      BEL
63      BRA
91      CHL
126     COL
139     NaN
       ...
1172    USA
1173    USA
1174    USA
1175    USA
1176    USA
Name: iso3, Length: 148, dtype: object

In [16]:
resp2 = resp["iso3"].dropna(axis=0)
resp2

26      BEL
63      BRA
91      CHL
126     COL
185     DEU
       ...
1172    USA
1173    USA
1174    USA
1175    USA
1176    USA
Name: iso3, Length: 146, dtype: object

In [11]:
resp2 = resp.dropna(axis=0)
resp2.isna().sum()

UID               0.0
iso2              0.0
iso3              0.0
code3             0.0
FIPS              0.0
Admin2            0.0
Province_State    0.0
Country_Region    0.0
Lat               0.0
Long_             0.0
Combined_Key      0.0
Population        0.0
dtype: float64

In [17]:
resp = df.query("Lat.isnull()")

resp.fillna(0)

,UID,iso2,iso3,code3,FIPS,Admin2,Province_State,Country_Region,Lat,Long_,Combined_Key,Population
26,5610,BE,BEL,56.0,0.0,0,Unknown,Belgium,0.0,0.0,"Unknown, Belgium",0.0
63,7628,BR,BRA,76.0,0.0,0,Unknown,Brazil,0.0,0.0,"Unknown, Brazil",0.0
91,15217,CL,CHL,152.0,0.0,0,Unknown,Chile,0.0,0.0,"Unknown, Chile",0.0
126,17034,CO,COL,170.0,0.0,0,Unknown,Colombia,0.0,0.0,"Unknown, Colombia",0.0
139,9999,0,0,0.0,0.0,0,0,Diamond Princess,0.0,0.0,Diamond Princess,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...
1172,84090051,US,USA,840.0,90051.0,Unassigned,Virginia,US,0.0,0.0,"Unassigned, Virginia, US",0.0
1173,84090053,US,USA,840.0,90053.0,Unassigned,Washington,US,0.0,0.0,"Unassigned, Washington, US",0.0
1174,84090054,US,USA,840.0,90054.0,Unassigned,West Virginia,US,0.0,0.0,"Unassigned, West Virginia, US",0.0
1175,84090055,US,USA,840.0,90055.0,Unassigned,Wisconsin,US,0.0,0.0,"Unassigned, Wisconsin, US",0.0
1176,84090056,US,USA,840.0,90056.0,Unassigned,Wyoming,US,0.0,0.0,"Unassigned, Wyoming, US",0.0

In [19]:
resp.Province_State.value_counts()

Province_State
Unknown                      23
US Military                   6
Michigan                      4
Federal Bureau of Prisons     3
Nebraska                      2
Nevada                        2
Montana                       2
Missouri                      2
Oregon                        2
New Hampshire                 2
New Jersey                    2
New Mexico                    2
New York                      2
North Carolina                2
North Dakota                  2
Ohio                          2
Oklahoma                      2
Rhode Island                  2
Pennsylvania                  2
Minnesota                     2
South Carolina                2
South Dakota                  2
Tennessee                     2
Texas                         2
Utah                          2
Vermont                       2
Virginia                      2
Washington                    2
West Virginia                 2
Wisconsin                     2
Mississippi                   2
Maryland                      2
Massachusetts                 2
District of Columbia          2
Diamond Princess              2
Grand Princess                2
Recovered                     2
Puerto Rico                   2
Alabama                       2
Alaska                        2
Arizona                       2
Arkansas                      2
California                    2
Colorado                      2
Connecticut                   2
Delaware                      2
Florida                       2
Georgia                       2
Hawaii                        2
Idaho                         2
Illinois                      2
Indiana                       2
Iowa                          2
Kansas                        2
Kentucky                      2
Louisiana                     2
Maine                         2
Wyoming                       2
Port Quarantine               1
Veteran Hospitals             1
Name: count, dtype: int64

In [20]:
resp.Province_State.isna().sum()

2

In [24]:
resp.Province_State = resp.Province_State.fillna("Unknown")
resp.Province_State.value_counts()

/var/folders/8h/mxsdfgdx47n8s1nf3s4tq2d00000gn/T/ipykernel_93053/4036871527.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  resp.Province_State = resp.Province_State.fillna("Unknown")

Province_State
Unknown                      25
US Military                   6
Michigan                      4
Federal Bureau of Prisons     3
Nebraska                      2
Nevada                        2
Montana                       2
Missouri                      2
Oregon                        2
New Hampshire                 2
New Jersey                    2
New Mexico                    2
New York                      2
North Carolina                2
North Dakota                  2
Ohio                          2
Oklahoma                      2
Rhode Island                  2
Pennsylvania                  2
Minnesota                     2
South Carolina                2
South Dakota                  2
Tennessee                     2
Texas                         2
Utah                          2
Vermont                       2
Virginia                      2
Washington                    2
West Virginia                 2
Wisconsin                     2
Mississippi                   2
Maryland                      2
Massachusetts                 2
District of Columbia          2
Diamond Princess              2
Grand Princess                2
Recovered                     2
Puerto Rico                   2
Alabama                       2
Alaska                        2
Arizona                       2
Arkansas                      2
California                    2
Colorado                      2
Connecticut                   2
Delaware                      2
Florida                       2
Georgia                       2
Hawaii                        2
Idaho                         2
Illinois                      2
Indiana                       2
Iowa                          2
Kansas                        2
Kentucky                      2
Louisiana                     2
Maine                         2
Wyoming                       2
Port Quarantine               1
Veteran Hospitals             1
Name: count, dtype: int64

In [25]:
resp.loc[:, "Province_State"] = resp.loc[:, "Province_State"].fillna("Unknown")

In [26]:
resp.Province_State.value_counts()

Province_State
Unknown                      25
US Military                   6
Michigan                      4
Federal Bureau of Prisons     3
Nebraska                      2
Nevada                        2
Montana                       2
Missouri                      2
Oregon                        2
New Hampshire                 2
New Jersey                    2
New Mexico                    2
New York                      2
North Carolina                2
North Dakota                  2
Ohio                          2
Oklahoma                      2
Rhode Island                  2
Pennsylvania                  2
Minnesota                     2
South Carolina                2
South Dakota                  2
Tennessee                     2
Texas                         2
Utah                          2
Vermont                       2
Virginia                      2
Washington                    2
West Virginia                 2
Wisconsin                     2
Mississippi                   2
Maryland                      2
Massachusetts                 2
District of Columbia          2
Diamond Princess              2
Grand Princess                2
Recovered                     2
Puerto Rico                   2
Alabama                       2
Alaska                        2
Arizona                       2
Arkansas                      2
California                    2
Colorado                      2
Connecticut                   2
Delaware                      2
Florida                       2
Georgia                       2
Hawaii                        2
Idaho                         2
Illinois                      2
Indiana                       2
Iowa                          2
Kansas                        2
Kentucky                      2
Louisiana                     2
Maine                         2
Wyoming                       2
Port Quarantine               1
Veteran Hospitals             1
Name: count, dtype: int64

In [27]:
resp.Admin2.value_counts()

Admin2
Unassigned    53
Out of OH      1
Out of MI      1
Out of MN      1
Out of MS      1
              ..
Out of IN      1
Out of IA      1
Out of KS      1
Out of KY      1
Out of WY      1
Name: count, Length: 61, dtype: int64

In [28]:
resp.Admin2.isna().sum()

35

In [29]:
resp.loc[:, "Admin2"] = resp.loc[:,"Admin2"].fillna("Unassigned")

In [30]:
resp.Admin2.isna().sum()

0

In [31]:
resp.Admin2.value_counts()

Admin2
Unassigned    88
Out of MA      1
Out of MN      1
Out of MS      1
Out of MO      1
              ..
Out of IA      1
Out of KS      1
Out of KY      1
Out of LA      1
Out of WY      1
Name: count, Length: 61, dtype: int64

In [39]:
resp = df.query("Lat.isnull()")
resp.query("code3.isnull()").index

resp = resp.drop(resp.query("code3.isnull()").index)

resp

,UID,iso2,iso3,code3,FIPS,Admin2,Province_State,Country_Region,Lat,Long_,Combined_Key,Population
26,5610,BE,BEL,56.0,NaN,NaN,Unknown,Belgium,NaN,NaN,"Unknown, Belgium",NaN
63,7628,BR,BRA,76.0,NaN,NaN,Unknown,Brazil,NaN,NaN,"Unknown, Brazil",NaN
91,15217,CL,CHL,152.0,NaN,NaN,Unknown,Chile,NaN,NaN,"Unknown, Chile",NaN
126,17034,CO,COL,170.0,NaN,NaN,Unknown,Colombia,NaN,NaN,"Unknown, Colombia",NaN
185,27617,DE,DEU,276.0,NaN,NaN,Unknown,Germany,NaN,NaN,"Unknown, Germany",NaN
...,...,...,...,...,...,...,...,...,...,...,...,...
1172,84090051,US,USA,840.0,90051.0,Unassigned,Virginia,US,NaN,NaN,"Unassigned, Virginia, US",NaN
1173,84090053,US,USA,840.0,90053.0,Unassigned,Washington,US,NaN,NaN,"Unassigned, Washington, US",NaN
1174,84090054,US,USA,840.0,90054.0,Unassigned,West Virginia,US,NaN,NaN,"Unassigned, West Virginia, US",NaN
1175,84090055,US,USA,840.0,90055.0,Unassigned,Wisconsin,US,NaN,NaN,"Unassigned, Wisconsin, US",NaN
1176,84090056,US,USA,840.0,90056.0,Unassigned,Wyoming,US,NaN,NaN,"Unassigned, Wyoming, US",NaN