In [3]:
import pandas as pd
import requests
import lxml

In [4]:
url_str = "https://guiadoscursos.uab.pt/cursos/licenciatura-em-matematica-aplicada-a-gestao/"

url = requests.get(url_str).content

In [5]:
dfs = pd.read_html(url)
dfs.__len__()

3

In [6]:
dfs[0]

   Maior                                                                   \
     Ano Semestre                                 Unidade Curricular ECTS
0    1.0       S1                           21002 - Álgebra Linear I  6.0
1    1.0       S1       21030 - Elementos de Análise Infinitesimal I  6.0
2    1.0       S1                   21173 - Introdução à Programação  6.0
3    1.0       S1                   61007 - Contabilidade Financeira  6.0
4    1.0       S1                       61029 - Princípios de Gestão  6.0
5    NaN      NaN                                                NaN  NaN
6    1.0       S2      21031 - Elementos de Análise Infinitesimal II  6.0
7    1.0       S2  21037 - Elementos de Probabilidades e Estatística  6.0
8    1.0       S2                   21076 - Investigação Operacional  6.0
9    1.0       S2                 21178 - Laboratório de Programação  6.0
10   1.0       S2                              61024 - Macroeconomia  6.0


           Área Científica Unnamed: 5_level_1
0               Matemática                NaN
1               Matemática                NaN
2   Engenharia Informática                NaN
3                   Gestão                NaN
4                   Gestão                NaN
5                      NaN                NaN
6               Matemática                NaN
7               Matemática                NaN
8               Matemática                NaN
9   Engenharia Informática                NaN
10                Economia                NaN

In [7]:
dfs[1]

   Maior                                                                   \
     Ano Semestre                                 Unidade Curricular ECTS
0    2.0       S1     21032 - Elementos de Análise Infinitesimal III  6.0
1    2.0       S1                     21041 - Estatística Aplicada I  6.0
2    2.0       S1              21053 - Fundamentos de Bases de Dados  6.0
3    2.0       S1                      21159 - Matemática Financeira  6.0
4    2.0       S1                      61020 - Informática de Gestão  6.0
5    NaN      NaN                                                NaN  NaN
6    2.0       S2                     21091 - Programação Matemática  6.0
7    2.0       S2  21185 - Equações Diferenciais Aplicadas à Macr...  6.0
8    2.0       S2                    61005 - Contabilidade de Gestão  6.0
9    2.0       S2                              61027 - Microeconomia  6.0
10   2.0       S2                 61036 - Avaliação de Investimentos  6.0


           Área Científica Unnamed: 5_level_1
0               Matemática                NaN
1               Matemática                NaN
2   Engenharia Informática                NaN
3               Matemática                NaN
4                   Gestão                NaN
5                      NaN                NaN
6               Matemática                NaN
7               Matemática                NaN
8                   Gestão                NaN
9                 Economia                NaN
10                  Gestão                NaN

In [8]:
dfs[2]

               Maior                    \
                 Ano          Semestre
   Bloco Opcionais A Bloco Opcionais A
                 Ano          Semestre
   Bloco Opcionais B Bloco Opcionais B
                 Ano          Semestre
   Bloco Opcionais C Bloco Opcionais C
                 Ano          Semestre
   Bloco Opcionais D Bloco Opcionais D
                 Ano          Semestre
0                3.0                S1
1                3.0                S1
2                3.0                S1
3                3.0                S1
4                NaN               NaN
5                3.0                S2
6                3.0                S2
7                3.0                S2
8                3.0                S2
9                3.0                S1
10               NaN               NaN
11               3.0                S2
12               3.0                S1
13               NaN               NaN
14               3.0                S2
15               3.0                S1
16               NaN               NaN
17               3.0                S2
18               3.0                S1
19               3.0                S1
20               3.0                S1
21               3.0                S1
22               3.0                S1
23               NaN               NaN
24               3.0                S2
25               3.0                S2
26               3.0                S2
27               3.0                S2
28               3.0                S2

                                                                         \
                                   Unidade Curricular              ECTS
                                    Bloco Opcionais A Bloco Opcionais A
                                   Unidade Curricular              ECTS
                                    Bloco Opcionais B Bloco Opcionais B
                                   Unidade Curricular              ECTS
                                    Bloco Opcionais C Bloco Opcionais C
                                   Unidade Curricular              ECTS
                                    Bloco Opcionais D Bloco Opcionais D
                                   Unidade Curricular              ECTS
0               21035 - Elementos de Análise Numérica               6.0
1            21089 - Processos Estocásticos Aplicados               6.0
2        21103 - Sistemas de Gestão de Bases de Dados               6.0
3                   61023 - Investimentos Financeiros               6.0
4                                                 NaN               NaN
5                   21043 - Estatística Computacional               6.0
6   21073 - Introdução à Probabilidade e Estatísti...               6.0
7       21163 - Elementos de Estatística Multivariada               6.0
8               61043 - Economia Digital e e-Business               6.0
9              61017 - Gestão de Produção e Operações               6.0
10                                                NaN               NaN
11                          61047 - Casos de Finanças               6.0
12                   21093 - Programação por Objectos               6.0
13                                                NaN               NaN
14  21179 - Laboratório de Desenvolvimento de Soft...               6.0
15                        21110 - Sistemas Multimédia               6.0
16                                                NaN               NaN
17       21071 - Introdução à Inteligência Artificial               6.0
18                  Opcionais LMAG - Bloco D (1º Sem)               6.0
19          * 21161 - Análise de Fourier e Aplicações               6.0
20  * 21167 - Introdução à Modelação Matemática e ...               6.0
21           * 61017 - Gestão de Produção e Operações               6.0
22                          * 61040 - Casos de Gestão               6.0
23                                                NaN               NaN
24                  Opcionais LMAG - Bloco D (2º Sem)               6.0
25    * 21033 - Elementos de Análise Infinitesimal IV               6.0
26                  * 21042 - Estatística Aplicada II               6.0
27                      * 61045 - Projeto Empresarial               6.0
28                        * 61047 - Casos de Finanças               6.0


                            Área Científica Unnamed: 5_level_1
                          Bloco Opcionais A  Bloco Opcionais A
                            Área Científica Unnamed: 5_level_3
                          Bloco Opcionais B  Bloco Opcionais B
                            Área Científica Unnamed: 5_level_5
                          Bloco Opcionais C  Bloco Opcionais C
                            Área Científica Unnamed: 5_level_7
                          Bloco Opcionais D  Bloco Opcionais D
                            Área Científica Unnamed: 5_level_9
0                                Matemática                NaN
1                                Matemática                NaN
2                    Engenharia Informática                NaN
3                                    Gestão                NaN
4                                       NaN                NaN
5                                Matemática                NaN
6                                Matemática                NaN
7                                Matemática                NaN
8                                    Gestão                NaN
9                                    Gestão                NaN
10                                      NaN                NaN
11                                   Gestão                NaN
12                   Engenharia Informática                NaN
13                                      NaN                NaN
14                   Engenharia Informática                NaN
15  Tecnologias de Informação e Comunicação                NaN
16                                      NaN                NaN
17                   Engenharia Informática                NaN
18                                      NaN                NaN
19                               Matemática                NaN
20                               Matemática                NaN
21                                   Gestão                NaN
22                                   Gestão                NaN
23                                      NaN                NaN
24                                      NaN                NaN
25                               Matemática                NaN
26                               Matemática                NaN
27                                   Gestão                NaN
28                                   Gestão                NaN