In [264]:
import pandas as pd
import datetime

In [265]:
data = pd.read_csv("Network.csv")

data

           Date     Network    Upload  Download     Total
0    2022-12-21  NOS-F368-5   47,7 MB  135,3 MB    183 MB
1    2022-12-22  NOS-F368-5    259 MB  447,5 MB  706,5 MB
2    2022-12-23  NOS-F368-5  263,7 MB  552,7 MB  816,4 MB
3    2022-12-24  NOS-F368-5    275 MB  660,4 MB  935,4 MB
4    2022-12-25  NOS-F368-5  100,6 MB  193,6 MB  294,2 MB
..          ...         ...       ...       ...       ...
346  2023-11-08       Wi-Fi  110,7 MB  262,7 MB  373,3 MB
347  2023-11-08       Wi-Fi  110,7 MB  262,7 MB  373,3 MB
348  2023-11-08       Wi-Fi  110,7 MB  262,7 MB  373,3 MB
349  2023-11-08       Wi-Fi  110,7 MB  262,7 MB  373,3 MB
350  2023-11-08       Wi-Fi  110,7 MB  262,7 MB  373,3 MB

[351 rows x 5 columns]

In [266]:
linha = data.Upload.str.contains("KB")
linha

0      False
1      False
2      False
3      False
4      False
       ...
346    False
347    False
348    False
349    False
350    False
Name: Upload, Length: 351, dtype: bool

In [267]:
i = data[linha].index
i

Index([ 54,  59, 110, 125, 138, 144, 162, 192, 203, 244, 255, 258, 260, 265,
       268, 275, 278],
      dtype='int64')

In [268]:
data.drop(i, inplace=True)

data

           Date     Network    Upload  Download     Total
0    2022-12-21  NOS-F368-5   47,7 MB  135,3 MB    183 MB
1    2022-12-22  NOS-F368-5    259 MB  447,5 MB  706,5 MB
2    2022-12-23  NOS-F368-5  263,7 MB  552,7 MB  816,4 MB
3    2022-12-24  NOS-F368-5    275 MB  660,4 MB  935,4 MB
4    2022-12-25  NOS-F368-5  100,6 MB  193,6 MB  294,2 MB
..          ...         ...       ...       ...       ...
346  2023-11-08       Wi-Fi  110,7 MB  262,7 MB  373,3 MB
347  2023-11-08       Wi-Fi  110,7 MB  262,7 MB  373,3 MB
348  2023-11-08       Wi-Fi  110,7 MB  262,7 MB  373,3 MB
349  2023-11-08       Wi-Fi  110,7 MB  262,7 MB  373,3 MB
350  2023-11-08       Wi-Fi  110,7 MB  262,7 MB  373,3 MB

[334 rows x 5 columns]

In [269]:
data.drop("Network", axis=1, inplace=True)

data

           Date    Upload  Download     Total
0    2022-12-21   47,7 MB  135,3 MB    183 MB
1    2022-12-22    259 MB  447,5 MB  706,5 MB
2    2022-12-23  263,7 MB  552,7 MB  816,4 MB
3    2022-12-24    275 MB  660,4 MB  935,4 MB
4    2022-12-25  100,6 MB  193,6 MB  294,2 MB
..          ...       ...       ...       ...
346  2023-11-08  110,7 MB  262,7 MB  373,3 MB
347  2023-11-08  110,7 MB  262,7 MB  373,3 MB
348  2023-11-08  110,7 MB  262,7 MB  373,3 MB
349  2023-11-08  110,7 MB  262,7 MB  373,3 MB
350  2023-11-08  110,7 MB  262,7 MB  373,3 MB

[334 rows x 4 columns]

In [270]:
float(10.5)

10.5

In [271]:
mbToGb = 1024

def uniform_size(size: str) -> float:
    if type(size) == float:
        return size
    #valiudar o input
    try:
        #separar tamanho e unidade "47,7 MB" -> ("47,7", "MB") ou ["47,7", "MB"]
        sep = size.split(" ")
        #converter o numero par float
        sep[0] = float(sep[0].replace(",", "."))
        #uniformizar o valor, converter tudo para MB
        if sep[1].upper() == "GB":
            res = sep[0] * mbToGb
            return  res
        return sep[0]
    except:
        return 0

uniform_size("wrewewr")

0

In [272]:
data.Upload = data.apply(lambda x: uniform_size(x.Upload), axis = 1)
data.Download = data.apply(lambda x: uniform_size(x.Download), axis = 1)
data.Total = data.apply(lambda x: uniform_size(x.Total), axis = 1)

data

           Date  Upload  Download  Total
0    2022-12-21    47.7     135.3  183.0
1    2022-12-22   259.0     447.5  706.5
2    2022-12-23   263.7     552.7  816.4
3    2022-12-24   275.0     660.4  935.4
4    2022-12-25   100.6     193.6  294.2
..          ...     ...       ...    ...
346  2023-11-08   110.7     262.7  373.3
347  2023-11-08   110.7     262.7  373.3
348  2023-11-08   110.7     262.7  373.3
349  2023-11-08   110.7     262.7  373.3
350  2023-11-08   110.7     262.7  373.3

[334 rows x 4 columns]

In [273]:
data.Date.value_counts()

Date
2023-11-08    8
2023-01-04    2
2023-09-23    2
2023-09-22    2
2023-04-25    2
             ..
2023-04-11    1
2023-04-10    1
2023-04-09    1
2023-04-08    1
2023-05-29    1
Name: count, Length: 313, dtype: int64

In [274]:
data = data.groupby("Date").sum()
data

            Upload  Download    Total
Date
2022-12-21    47.7    135.30   183.00
2022-12-22   259.0    447.50   706.50
2022-12-23   263.7    552.70   816.40
2022-12-24   275.0    660.40   935.40
2022-12-25   100.6    193.60   294.20
...            ...       ...      ...
2023-11-04   180.4    826.40  1034.24
2023-11-05   441.5   3645.44  4096.00
2023-11-06   949.8   6297.60  7270.40
2023-11-07   754.0   1331.20  2109.44
2023-11-08   885.6   2101.60  2986.40

[313 rows x 3 columns]

In [275]:
type(data.index[0])

str

In [276]:
def strToDate(date_str:str):
    
    split_date = date_str.split("-")
    myDate = datetime.date(int(split_date[0]),int(split_date[1]), int(split_date[2]))
    return myDate

In [277]:
data.index = data.index.map(lambda x: strToDate(x))

In [278]:
type(data.index[0])

datetime.date

In [279]:
def calc_precentagem(valor, total):
    return (valor * 100) / total

calc_precentagem(1331.20, 1730.56)

76.92307692307692

In [280]:
data.Total = data.apply(lambda x: x.Upload + x.Download, axis=1)

In [281]:
data = data.assign(Upload_Percentage = lambda x: calc_precentagem(x.Upload, x.Total))
data = data.assign(Download_Percentage = lambda x: calc_precentagem(x.Download, x.Total))

#data = data.assign(Total2 = lambda x: (x.Download + x.Upload))
#data = data.assign(Diff_Total = lambda x: x.Total - x.Total2)
data

            Upload  Download    Total  Upload_Percentage  Download_Percentage
Date
2022-12-21    47.7    135.30   183.00          26.065574            73.934426
2022-12-22   259.0    447.50   706.50          36.659590            63.340410
2022-12-23   263.7    552.70   816.40          32.300343            67.699657
2022-12-24   275.0    660.40   935.40          29.399188            70.600812
2022-12-25   100.6    193.60   294.20          34.194426            65.805574
...            ...       ...      ...                ...                  ...
2023-11-04   180.4    826.40  1006.80          17.918157            82.081843
2023-11-05   441.5   3645.44  4086.94          10.802703            89.197297
2023-11-06   949.8   6297.60  7247.40          13.105390            86.894610
2023-11-07   754.0   1331.20  2085.20          36.159601            63.840399
2023-11-08   885.6   2101.60  2987.20          29.646492            70.353508

[313 rows x 5 columns]

2023-11-04    ,Wi-Fi,    "180,4 MB",   "826,4 MB",  "1,01 GB"

In [1]:

data = data.assign(Upload = lambda x: x.Download_Percentage + x.Upload_Percentage)
#data = data.assign(Sun = lambda x: (x.Download_Percentage + x.Upload_Percentage) * 10)

NameError: name 'data' is not defined

In [283]:
data

,Upload,Download,Total,Upload_Percentage,Download_Percentage,Sun
Date,,,,,,
2022-12-21,teste,135.30,183.00,26.065574,73.934426,1000.0
2022-12-22,teste,447.50,706.50,36.659590,63.340410,1000.0
2022-12-23,teste,552.70,816.40,32.300343,67.699657,1000.0
2022-12-24,teste,660.40,935.40,29.399188,70.600812,1000.0
2022-12-25,teste,193.60,294.20,34.194426,65.805574,1000.0
...,...,...,...,...,...,...
2023-11-04,teste,826.40,1006.80,17.918157,82.081843,1000.0
2023-11-05,teste,3645.44,4086.94,10.802703,89.197297,1000.0
2023-11-06,teste,6297.60,7247.40,13.105390,86.894610,1000.0
2023-11-07,teste,1331.20,2085.20,36.159601,63.840399,1000.0
2023-11-08,teste,2101.60,2987.20,29.646492,70.353508,1000.0