In [108]:
import pandas as pd
import datetime

In [109]:
data = pd.read_csv("Network.csv")

data

           Date     Network    Upload  Download     Total
0    2022-12-21  NOS-F368-5   47,7 MB  135,3 MB    183 MB
1    2022-12-22  NOS-F368-5    259 MB  447,5 MB  706,5 MB
2    2022-12-23  NOS-F368-5  263,7 MB  552,7 MB  816,4 MB
3    2022-12-24  NOS-F368-5    275 MB  660,4 MB  935,4 MB
4    2022-12-25  NOS-F368-5  100,6 MB  193,6 MB  294,2 MB
..          ...         ...       ...       ...       ...
346  2023-11-08       Wi-Fi  110,7 MB  262,7 MB  373,3 MB
347  2023-11-08       Wi-Fi  110,7 MB  262,7 MB  373,3 MB
348  2023-11-08       Wi-Fi  110,7 MB  262,7 MB  373,3 MB
349  2023-11-08       Wi-Fi  110,7 MB  262,7 MB  373,3 MB
350  2023-11-08       Wi-Fi  110,7 MB  262,7 MB  373,3 MB

[351 rows x 5 columns]

In [110]:
linha = data.Upload.str.contains("KB")
linha

0      False
1      False
2      False
3      False
4      False
       ...
346    False
347    False
348    False
349    False
350    False
Name: Upload, Length: 351, dtype: bool

In [111]:
i = data[linha].index
i

Index([ 54,  59, 110, 125, 138, 144, 162, 192, 203, 244, 255, 258, 260, 265,
       268, 275, 278],
      dtype='int64')

In [112]:
data.drop(i, inplace=True)

data

           Date     Network    Upload  Download     Total
0    2022-12-21  NOS-F368-5   47,7 MB  135,3 MB    183 MB
1    2022-12-22  NOS-F368-5    259 MB  447,5 MB  706,5 MB
2    2022-12-23  NOS-F368-5  263,7 MB  552,7 MB  816,4 MB
3    2022-12-24  NOS-F368-5    275 MB  660,4 MB  935,4 MB
4    2022-12-25  NOS-F368-5  100,6 MB  193,6 MB  294,2 MB
..          ...         ...       ...       ...       ...
346  2023-11-08       Wi-Fi  110,7 MB  262,7 MB  373,3 MB
347  2023-11-08       Wi-Fi  110,7 MB  262,7 MB  373,3 MB
348  2023-11-08       Wi-Fi  110,7 MB  262,7 MB  373,3 MB
349  2023-11-08       Wi-Fi  110,7 MB  262,7 MB  373,3 MB
350  2023-11-08       Wi-Fi  110,7 MB  262,7 MB  373,3 MB

[334 rows x 5 columns]

In [113]:
data.drop("Network", axis=1, inplace=True)

data

           Date    Upload  Download     Total
0    2022-12-21   47,7 MB  135,3 MB    183 MB
1    2022-12-22    259 MB  447,5 MB  706,5 MB
2    2022-12-23  263,7 MB  552,7 MB  816,4 MB
3    2022-12-24    275 MB  660,4 MB  935,4 MB
4    2022-12-25  100,6 MB  193,6 MB  294,2 MB
..          ...       ...       ...       ...
346  2023-11-08  110,7 MB  262,7 MB  373,3 MB
347  2023-11-08  110,7 MB  262,7 MB  373,3 MB
348  2023-11-08  110,7 MB  262,7 MB  373,3 MB
349  2023-11-08  110,7 MB  262,7 MB  373,3 MB
350  2023-11-08  110,7 MB  262,7 MB  373,3 MB

[334 rows x 4 columns]

In [114]:
float(10.5)

10.5

In [115]:
def uniform_size(size: str) -> float:
    if type(size) == float:
        return size
    #valiudar o input
    try:
        #separar tamanho e unidade "47,7 MB" -> ("47,7", "MB") ou ["47,7", "MB"]
        sep = size.split(" ")
        #converter o numero par float
        sep[0] = float(sep[0].replace(",", "."))
        #uniformizar o valor, converter tudo para MB
        if sep[1].upper() == "GB":
            res = sep[0] * 1024
            return  res
        return sep[0]
    except:
        return 0

uniform_size("wrewewr")

0

In [116]:
data.Upload = data.apply(lambda x: uniform_size(x.Upload), axis = 1)
data.Download = data.apply(lambda x: uniform_size(x.Download), axis = 1)
data.Total = data.apply(lambda x: uniform_size(x.Total), axis = 1)

data

           Date  Upload  Download  Total
0    2022-12-21    47.7     135.3  183.0
1    2022-12-22   259.0     447.5  706.5
2    2022-12-23   263.7     552.7  816.4
3    2022-12-24   275.0     660.4  935.4
4    2022-12-25   100.6     193.6  294.2
..          ...     ...       ...    ...
346  2023-11-08   110.7     262.7  373.3
347  2023-11-08   110.7     262.7  373.3
348  2023-11-08   110.7     262.7  373.3
349  2023-11-08   110.7     262.7  373.3
350  2023-11-08   110.7     262.7  373.3

[334 rows x 4 columns]

In [117]:
data.Date.value_counts()

Date
2023-11-08    8
2023-01-04    2
2023-09-23    2
2023-09-22    2
2023-04-25    2
             ..
2023-04-11    1
2023-04-10    1
2023-04-09    1
2023-04-08    1
2023-05-29    1
Name: count, Length: 313, dtype: int64

In [118]:
data = data.groupby("Date").sum()
data

            Upload  Download    Total
Date
2022-12-21    47.7    135.30   183.00
2022-12-22   259.0    447.50   706.50
2022-12-23   263.7    552.70   816.40
2022-12-24   275.0    660.40   935.40
2022-12-25   100.6    193.60   294.20
...            ...       ...      ...
2023-11-04   180.4    826.40  1034.24
2023-11-05   441.5   3645.44  4096.00
2023-11-06   949.8   6297.60  7270.40
2023-11-07   754.0   1331.20  2109.44
2023-11-08   885.6   2101.60  2986.40

[313 rows x 3 columns]

In [119]:
type(data.index[0])

str

In [120]:
def strToDate(date_str:str):
    
    split_date = date_str.split("-")
    myDate = datetime.date(int(split_date[0]),int(split_date[1]), int(split_date[2]))
    return myDate

In [121]:
data.index = data.index.map(lambda x: strToDate(x))

In [123]:
type(data.index[0])

datetime.date