In [109]:
import pandas as pd
import sqlite3
from faker import Faker

In [62]:
!pip install openpyxl

Requirement already satisfied: openpyxl in /Users/goncalof/anaconda3/envs/newConda/lib/python3.8/site-packages (3.1.2)
Requirement already satisfied: et-xmlfile in /Users/goncalof/anaconda3/envs/newConda/lib/python3.8/site-packages (from openpyxl) (1.1.0)

In [63]:
data = {'product_name': ['Computer','Tablet','Monitor','Printer'],
        'price': [900,300,675,150]
        }

df = pd.DataFrame(data, columns= ['product_name','price'])

df

  product_name  price
0     Computer    900
1       Tablet    300
2      Monitor    675
3      Printer    150

In [64]:
#df.to_excel()
#df.to_json()
#df.to_sql()
#df.to_csv()
#df.to_html()
#df.to_dict() <- nÃ£o foi testada

In [65]:
df

  product_name  price
0     Computer    900
1       Tablet    300
2      Monitor    675
3      Printer    150

In [66]:
#df.to_excel("out.xlsx", sheet_name="teste", index=False)

In [70]:
!pip install xlsxwriter
w = pd.ExcelWriter("teste2.xlsx")
df.to_excel(w, sheet_name="foo1")
df.to_excel(w, sheet_name="foo2")

Requirement already satisfied: xlsxwriter in /Users/goncalof/anaconda3/envs/newConda/lib/python3.8/site-packages (3.1.9)

In [97]:
# Exporta para excel
with pd.ExcelWriter("out3.xlsx", engine="openpyxl", mode="a", if_sheet_exists="overlay") as writer:
        df.to_excel(writer, sheet_name="DETALHE_PENALIDADES3", index=False)
        df.to_excel(writer, sheet_name="DETALHE_PENALIDADES4", index=False)

In [69]:
#del df # apaga a a DF

In [79]:
df.to_csv("out.csv", index=False)

In [75]:
data = {'product_name': ['Computer', 'Tablet', 'Monitor', 'Printer'],
        'price': [999, 333, 777, 555]
        }

df2 = pd.DataFrame(data, columns=['product_name', 'price'])

df2

  product_name  price
0     Computer    999
1       Tablet    333
2      Monitor    777
3      Printer    555

In [80]:
df2.to_csv("out.csv", mode="a" ,header=False, index=False)

In [104]:
conn = sqlite3.connect("teste.db")

df.to_sql("tabela", conn, if_exists="append")

4

In [106]:
df.to_html("teste.html", index=False)

In [107]:
df.to_json("teste.json")

!pip install Faker

https://github.com/joke2k/faker

In [113]:
fake = Faker()

fake.name()

fake.address()

'Unit 5886 Box 2347\nDPO AP 10382'